<nav>
  <ul>
    <li class="my-2 px-4">
      <a href="#"><span class="hover:text-primary-500 hover:underline">Incoming events</span></a>
    </li>
    <li class="my-2 px-4">
      <a href="#"><span class="hover:text-primary-500 hover:underline">New Slack posts</span></a>
    </li>
  </ul>
</nav>
